<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="https://use.typekit.net/szr7tzp.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>


  <header>
    <div id="logo">
      <img src="/images/logo.svg" alt="typewriter">
    </div>

    <nav>
      <a href="/" id="home-link">HOME</a>

      <% if (user) { %>

        <a href="/posts?category=PIECES" id="pieces-link">PIECES</a>

        <a href="/posts?category=PITCHES" id="pitches-link">PITCHES</a>

        <% } %>

          <a href="/posts?category=PROMPTS" id="prompts-link">PROMPTS</a>

          <% if (user) { %>

            <a href="/posts/new" id="create-link">CREATE A POST</a>

            <img src="<%= user.avatar %>" style="border-radius: 50%; height: 40px" />
            <h5><%= user.name %></h5>
            
            <a href="/logout" class="nav-link-no-border">LOG OUT</a>

            <% } else { %>

              <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>

              <% } %>
    </nav>

  </header>


  <h1>
    <%= title %>
  </h1>