<!DOCTYPE html>
<html>
  <head> 
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />   
  </head>
  <body>


    <!-- WHAT EXACTLY DO YOU WANT USERS TO BE ABLE TO SEE WHEN NOT LOGGED IN -->
    <nav>
      Icon.svg 
      <!-- Come back to this and crate nav bar when finalize page names and paths -->
      <a href="/">HOME</a>
        |  
      <% if (user) { %>
        <a href="/posts">POSTS</a>
        |  
        <a href="/pitches">PITCHES</a>
        |
        <% } %>

      <a href="/prompts">PROMPTS</a>
        
      <% if (user) { %>
        |  
        <a href="/new">CREATE A POST</a>
          |  
        <h5><%= user.name %></h5> 
        <img
        src="<%= user.avatar %>"
        style="border-radius: 50%; height: 60px"
        />
        
        <a href="/logout">LOG OUT</a>
        <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
    </nav>



    <h1><%= title %></h1>