<%- include('./partials/header') %>

<% if (!user) { %>


<h5>Please Login to access "Posts" and "Pitches" as well as make any posts or comments of your own</h5>

<% } %>

<ul>
    <li>Give feedback to other writer's <strong>POSTS</strong></li>
    <li>Help brainstorm with other writer's <strong>PITCHES</strong></li>
    <li>Writer's block? Get inspired by other's writing <strong>PROMPTS</strong></li>
    <li>Upload something yourself and <strong>CREATE A POST</strong></li>

</ul>

<%- include('./partials/footer') %>




