<!-- Why are my partials not working here?  -->

<h2>Write away:</h2>

<form action="/posts" method="POST">
    <label> Title:
        <input type="text" name="title">
    </label><br>
    
    <label>Descripion:
        <input type="text" name="description">
    </label><br>
    
    <label>
        <textarea name="content" rows="25" cols="80">Write stuff here...</textarea>
    </label>
    <button type="submit">Create Post</button>
</form>


<!-- Why are my partials not working here?  -->