<%- include('../partials/header') %>

<h2>Write away:</h2>

<form action="/posts" method="POST">
    <label>Category:
        <select name="category">
            <option disabled selected value>Select One...</option>    
            <option value="PROMPT">PROMPT</option>
            <option value="PITCH">PITCH</option>
            <option value="POST">POST</option>
        </select>
    </label>

    <label> Title:
        <input type="text" name="title">
    </label><br>
    
    <label>Description:
        <input type="text" name="description">
    </label><br>
    
    <label>
        <textarea name="content" rows="25" cols="80"></textarea>
    </label>
    <button type="submit">Create Post</button>
</form>


<%- include('../partials/footer') %>